
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>

</head>

<body>


<script>
        var IMP = window.IMP; // 생략가능
        IMP.init('imp30921676'); 
        // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
        // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
        IMP.request_pay({
            pg: 'danal', // version 1.1.0부터 지원.
            /* 
                'kakao':카카오페이, 
                html5_inicis':이니시스(웹표준결제)
                    'nice':나이스페이
                    'jtnet':제이티넷
                    'uplus':LG유플러스
                    'danal':다날
                    'payco':페이코
                    'syrup':시럽페이
                    'paypal':페이팔
                */
            pay_method: 'card',
            /* 
                'samsung':삼성페이, 
                'card':신용카드, 
                'trans':실시간계좌이체,
                'vbank':가상계좌,
                'phone':휴대폰소액결제 
            */
            merchant_uid: "<%= merchant_uid %>",
            /* 
                merchant_uid에 경우 
                https://docs.iamport.kr/implementation/payment
                위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.
                참고하세요. 
                나중에 포스팅 해볼게요.
             */
            customer_uid: "<%= customerid %>",
            name: "<%= subname %>",
            //결제창에서 보여질 이름
            amount: "<%= price %>", 
            //가격 
            buyer_email: '',
            buyer_name: "<%= customername %>",
            buyer_tel: "<%= customerphone %>",
            buyer_addr: '',
            buyer_postcode: '',
            m_redirect_url: "leteatgo://main",
            app_scheme : 'payment'  
            /*  
                모바일 결제시,
                결제가 끝나고 랜딩되는 URL을 지정 
                (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐) 
                */
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
              $.ajax({
                url: "/pay/billingsC/", // 서비스 웹서버
                method: "POST",
                //headers: { "Content-Type": "application/json" },
                dataType:"json",
                data: {
                  customer_uid: "<%= customerid %>", // 카드(빌링키)와 1:1로 대응하는 값
                  price: "<%= price %>",
                  subname: "<%= subname %>",
                  subId: "<%= subid %>",
                  merchant_uid: "<%= merchant_uid %>",
                  customername: "<%= customername %>",
                  customerphone: "<%= customerphone %>",
                  paymentResult: rsp
                }
              });
                window.AndroidBridge.resultPay('success');
            } else {
                window.AndroidBridge.resultPay('fail');
            }
        });
</script>
    </body>

    </html>
