
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>

</head>

<body>


<script>
        var IMP = window.IMP; // 생략가능
        IMP.init('imp30921676'); 
        IMP.request_pay({
            pg: 'danal',
            pay_method: 'card',
            merchant_uid: "<%= merchant_uid %>",
            customer_uid: "<%= customerid %>",
            name: "<%= subname %>",
            amount: "<%= price %>",
            buyer_email: '',
            buyer_name: "<%= customername %>",
            buyer_tel: "<%= customerphone %>",
            buyer_addr: '',
            buyer_postcode: '',
            m_redirect_url: "leteatgo://main",
            app_scheme : 'payment'
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
              $.ajax({
                url: "/api/pay/billingsC/", // 서비스 웹서버
                method: "POST",
                //headers: { "Content-Type": "application/json" },
                dataType:"json",
                data: {
                  customer_uid: "<%= customerid %>", // 카드(빌링키)와 1:1로 대응하는 값
                  price: "<%= price %>",
                  subname: "<%= subname %>",
                  subId: "<%= subid %>",
                  merchant_uid: "<%= merchant_uid %>",
                  customername: "<%= customername %>",
                  customerphone: "<%= customerphone %>",
                  paymentResult: rsp
                }
              });
                window.AndroidBridge.resultPay('success');
            } else {
                window.AndroidBridge.resultPay('fail');
            }
        });
</script>
    </body>

    </html>
